In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
from sklearn.tree import  DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, roc_auc_score, roc_auc_score
from six import StringIO 
from sklearn.tree import export

In [3]:
data=pd.read_csv("winequality_red.csv")

In [4]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [5]:
data.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [6]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
data.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

## Check Accuracy of model using decission Tree

In [8]:
x=data.drop(columns=['quality'])
y=data['quality']

In [9]:
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [10]:
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

## Let's first visualize  the tree on the data without doing any Pre-Processing

In [11]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size = 0.30,random_state = 355)

In [12]:
clf = DecisionTreeClassifier( min_samples_split=2)
clf.fit(x_train,y_train)

DecisionTreeClassifier()

### Accuracy of Classification Tree

In [13]:
clf.score(x_test,y_test)

0.6291666666666667

In [14]:
clf2 = DecisionTreeClassifier(criterion='entropy',max_depth = 24, min_samples_leaf=1)

In [16]:
clf2.fit(x_train,y_train)
clf2.score(x_test,y_test)

0.61875

## Random Forest

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
Random_clf = RandomForestClassifier(n_estimators=700,random_state=6)

In [19]:
Random_clf.fit(x_train,y_train)

RandomForestClassifier(n_estimators=700, random_state=6)

In [20]:
Random_clf.score(x_test,y_test)

0.675

In [31]:
grid_param = {
    "n_estimators" : [90,100,115,130],
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,20,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'max_features' : ['auto','log2']
}

In [32]:
grid_search = GridSearchCV(estimator=Random_clf,param_grid=grid_param,cv=5,n_jobs=-1,verbose=3)

In [33]:
grid_search.fit(x_train,y_train)

Fitting 5 folds for each of 20736 candidates, totalling 103680 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:    7.0s
[Parallel(n_jobs=-1)]: Done 120 tasks      | elapsed:   17.6s
[Parallel(n_jobs=-1)]: Done 280 tasks      | elapsed:   38.4s
[Parallel(n_jobs=-1)]: Done 504 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done 792 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 1144 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done 1560 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done 2040 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 2584 tasks      | elapsed:  4.8min
[Parallel(n_jobs=-1)]: Done 3192 tasks      | elapsed:  6.0min
[Parallel(n_jobs=-1)]: Done 3864 tasks      | elapsed:  7.3min
[Parallel(n_jobs=-1)]: Done 4600 tasks      | elapsed:  8.7min
[Parallel(n_jobs=-1)]: Done 5400 tasks      | elapsed: 10.2min
[Parallel(n_jobs=-1)]: Done 6264 tasks      | elapsed: 11.9min
[Parallel(n_jobs=-1)]: Done 7192 tasks      | elapsed: 13.8min
[Parallel(n_jobs=-1)]: Done 8184 tasks      | elapsed: 15.8min
[Parallel(n_jobs=-1)]: Done 9240 tasks      | elapsed: 18.0min
[Parallel(n_jobs=-1)]: Done 10360 tasks      | elapsed: 20.3min
[Parallel(n_jobs=-1)]: Done 11544 tasks      | elapsed: 22.8min
[Parallel(n_jobs=-1)]: Done 12792 tasks      | elapsed: 25.5min
[Parallel(n_jobs=-1)]: Done 14104 tasks      | elapsed: 28.4min
[Parallel(n_jobs=-1)]: Done 15480 tasks      | elapsed: 31.5min
[Parallel(n_jobs=-1)]: Done 16920 tasks      | elapsed: 34.8min
[Parallel(n_jobs=-1)]: Done 18424 tasks      | elapsed: 38.3min
[Parallel(n_jobs=-1)]: Done 19992 tasks      | elapsed: 42.1min
[Parallel(n_jobs=-1)]: Done 21624 tasks      | elapsed: 46.0min
[Parallel(n_jobs=-1)]: Done 23320 tasks      | elapsed: 50.0min
[Parallel(n_jobs=-1)]: Done 25080 tasks      | elapsed: 54.2min
[Parallel(n_jobs=-1)]: Done 26904 tasks      | elapsed: 58.6min
[Parallel(n_jobs=-1)]: Done 28792 tasks      | elapsed: 63.1min
[Parallel(n_jobs=-1)]: Done 30744 tasks      | elapsed: 67.8min
[Parallel(n_jobs=-1)]: Done 32760 tasks      | elapsed: 72.7min
[Parallel(n_jobs=-1)]: Done 34840 tasks      | elapsed: 77.7min
[Parallel(n_jobs=-1)]: Done 36984 tasks      | elapsed: 82.9min
[Parallel(n_jobs=-1)]: Done 39192 tasks      | elapsed: 88.2min
[Parallel(n_jobs=-1)]: Done 41464 tasks      | elapsed: 93.6min
[Parallel(n_jobs=-1)]: Done 43800 tasks      | elapsed: 99.3min
[Parallel(n_jobs=-1)]: Done 46200 tasks      | elapsed: 105.1min
[Parallel(n_jobs=-1)]: Done 48664 tasks      | elapsed: 111.0min
[Parallel(n_jobs=-1)]: Done 51192 tasks      | elapsed: 117.1min
[Parallel(n_jobs=-1)]: Done 53784 tasks      | elapsed: 122.4min
[Parallel(n_jobs=-1)]: Done 56440 tasks      | elapsed: 127.8min
[Parallel(n_jobs=-1)]: Done 59160 tasks      | elapsed: 133.9min
[Parallel(n_jobs=-1)]: Done 61944 tasks      | elapsed: 140.8min
[Parallel(n_jobs=-1)]: Done 64792 tasks      | elapsed: 148.3min
[Parallel(n_jobs=-1)]: Done 67704 tasks      | elapsed: 156.4min
[Parallel(n_jobs=-1)]: Done 70680 tasks      | elapsed: 164.9min
[Parallel(n_jobs=-1)]: Done 73720 tasks      | elapsed: 173.9min
[Parallel(n_jobs=-1)]: Done 76824 tasks      | elapsed: 183.3min
[Parallel(n_jobs=-1)]: Done 79992 tasks      | elapsed: 193.0min
[Parallel(n_jobs=-1)]: Done 83224 tasks      | elapsed: 203.1min
[Parallel(n_jobs=-1)]: Done 86520 tasks      | elapsed: 212.8min
[Parallel(n_jobs=-1)]: Done 89880 tasks      | elapsed: 222.9min
[Parallel(n_jobs=-1)]: Done 93304 tasks      | elapsed: 233.3min
[Parallel(n_jobs=-1)]: Done 96792 tasks      | elapsed: 244.1min
[Parallel(n_jobs=-1)]: Done 100344 tasks      | elapsed: 255.1min
[Parallel(n_jobs=-1)]: Done 103680 out of 103680 | elapsed: 265.0min finished

GridSearchCV(cv=5,
             estimator=RandomForestClassifier(n_estimators=700, random_state=6),
             n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 20),
                         'max_features': ['auto', 'log2'],
                         'min_samples_leaf': range(1, 10),
                         'min_samples_split': range(2, 10),
                         'n_estimators': [90, 100, 115, 130]},
             verbose=3)

In [34]:
grid_search.best_params_

{'criterion': 'entropy',
 'max_depth': 11,
 'max_features': 'auto',
 'min_samples_leaf': 2,
 'min_samples_split': 2,
 'n_estimators': 115}

In [39]:
Random_clf = RandomForestClassifier(criterion = 'entropy',max_depth = 11,max_features = 'auto',min_samples_leaf = 2,min_samples_split=2
                                 ,n_estimators=115,random_state=6)

In [40]:
Random_clf.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=11, min_samples_leaf=2,
                       n_estimators=115, random_state=6)

In [41]:
Random_clf.score(x_test,y_test)

0.65625